/* =========================================
base.htmlに適用するデザイン
========================================= */

/* ----- header ----- */
header>a{
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

/* ----- message_area ----- */
.notify_message_area{
    position:fixed;
    width: 100%;
    top:0;
    left:0;
}
.notify_message{
    color:white;
    padding:1rem;
    margin:1rem;
    border-radius:0.5rem;
    display:flex;
    background:deepskyblue;
}
.notify_message_info{
    background:deepskyblue;
}
.notify_message_success{
    background:forestgreen;
}
.notify_message_error{
    background:crimson;
}
.notify_message_content {
    width:calc(100% - 2rem);
    font-size:1.25rem;
}
.notify_message_delete {
    cursor:pointer;
    width:2rem;
    transition:0.2s;
}
.notify_message_delete i{
    font-size:1.5rem;
}
.notify_message_delete:hover{
    color:black;
    transition:0.2s;
}