<div class="star_avg p-2 d-flex flex-direction-row">

    {# 整数部分 #}
    {% for x in restaurant.stars_avg_str.true_star %}
        <i class="fa-solid fa-star text-warning align-self-center"></i>
    {% endfor %}

    {# 小数部分 #}
    {% for x in restaurant.stars_avg_str.half_star %}
        <div class="position-relative d-inline">
            <i class="fa-solid fa-star-half text-warning align-self-center z-3 position-absolute translate-middle"></i>
        </div>
        <i class="fa-solid fa-star text-muted align-self-center"></i>
    {% endfor %}

    {# グレー部分 #}
    {% for x in restaurant.stars_avg_str.false_star %}
        <i class="fa-solid fa-star text-muted align-self-center"></i>
    {% endfor %}

    {# 数字 #}
    <span class="score ml-2 my-0 text-dark">{{ restaurant.stars_avg_str.num }}</span>
</div> 

<style>
{% if small %}
    .star_avg{
        font-size: 1rem;
        line-height: 1rem;
    }
{% else %}
    .star_avg{
        font-size: 2rem;
        line-height: 2rem;
    }
{% endif %}
</style>

