{% extends "base.html" %}
{% load static %}

{% block title %}NAGOYAMESHI{% endblock %}

{% block content %}

<section id="index-image">
<div id="index-carousel" class="carousel slide">

    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'nagoyameshi/img/top/misokatsu.jpg'%}" class="d-block w-100" alt="...">
          <p>Welcome to Nagoya!</p>
        </div>
        <div class="carousel-item">
          <img src="{% static 'nagoyameshi/img/top/napolitan.jpg'%}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'nagoyameshi/img/top/ten-musu.jpg'%}" class="d-block w-100" alt="...">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#index-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#index-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
    
    
</div>
</section>
{% endblock %}