{% extends "base.html" %}
{% load bootstrap %}
{% block title %}マイページ{% endblock %}

{% block content %}
<h1>{{user.username}}さんのマイページ</h1>

<section>
    <h3>お気に入り</h3>
    {% if user.customer_id %}
    {# 有料会員ならお気に入り店舗を表示 #}
        <p>{{ favorites.count }}件登録中</p>
        <ul>
            {% if favorites %}
                {% for favorite in favorites %}
                <li><a href="{% url 'nagoyameshi:restaurant_detail' pk=favorite.restaurant_id.pk %}">{{favorite.restaurant_id}}</a></li>
                {% endfor %}
            {% else %}
                <p>お気に入り登録した店舗はまだありません。</p>
            {% endif %}
        </ul>
    {% else %}
    {# 無料会員なら有料会員登録に誘導 #}
        <p> <a href="{% url 'nagoyameshi:premium' %}">有料会員になる</a>と店舗をお気に入り登録することができます。</p>

    {% endif %}
</section>

<section>
    <h3>予約一覧</h3>
    {% if user.customer_id %}
    {# 有料会員なら予約店舗を表示 #}
        {% if reservations %}
        <table border="2">
            <tr>
                <th>店舗</th>
                <th>予約日時</th>
                <th>予約人数</th>
                <th>共有事項</th>
                <th>操作</th>
            </tr>
            {% for reservation in reservations %}
                <tr>
                    <td>{{reservation.restaurant_id.name}}</td>
                    <td>{{reservation.reservation_datetime}}</td>
                    <td>{{reservation.number_of_persons}}</td>
                    <td>{{reservation.comment}}</td>
                    <td>
                        <form action="{% url 'nagoyameshi:reservation_delete' pk=reservation.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">キャンセル</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>予約情報はまだありません。</p>
        {% endif %}
    
    {% else %}
    {# 無料会員なら有料会員登録に誘導 #}
    <p> <a href="{% url 'nagoyameshi:premium' %}">有料会員になる</a>と店舗を予約することができます。</p>
    
    {% endif %}

</section>

<section>
    <h3>会員情報 </h3>
    <table>
        <tr>
            <td>ニックネーム</td>
            <td>{{user.username}}</td>
        </tr>

        <tr>
            <td>メールアドレス</td>
            <td>
                {{user.email}}
                <span class="ml-3">
                    {% if user.email_verified %}
                        認証済み
                    {% else %}
                        <a href="{% url 'regenerate_token' %}">未認証</a>
                    {% endif %}
                </span>
            </td>
        </tr>

        <tr>
            <td>氏名</td>
            <td>
                {% if user.last_name and user.first_name %}
                    {{user.last_name}} {{user.first_name}}
                {% else %}
                    未登録
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>電話番号</td>
            <td>
                {% if user.phone_number %}
                    {{user.phone_number}}
                {% else %}
                    未登録
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>年齢</td>
            <td>
                {% if age %}
                    {{user.age}}
                {% else %}
                    未登録
                {% endif %}
            </td>
        </tr>
    </table>
    

    <a href="{% url 'user_update' %}">編集</a>
</section>

<section>
    <h3>有料会員登録</h3>
    <p>有料会員特典</p>
    <ul>
        <li>予約機能</li>
        <li>レビュー投稿機能</li>
        <li>お気に入り機能</li>
    </ul>
    <a href="{% url 'nagoyameshi:premium' %}">有料会員になる</a>
</section>

<section>
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">ログアウト</button>
    </form>
</section>
{% endblock %}