{% extends "base.html" %}
{% load bootstrap %}
{% block title %}{{restaurant.name}}{% endblock %}

{% block content %}
<h1>{{restaurant.name}}</h1>

{# お気に入りボタン #}
<form action="" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-light btn-lg">
        {% if favorite %}
        お気に入りに登録中<span class="text-danger"><i class="fa-solid fa-heart"></i></span>
        {% else %}
        お気に入りに未登録<span class="text-muted"><i class="fa-solid fa-heart"></i></span>
        {% endif %}
    </button>
</form>

{{restaurant.description}}
<br>



<br>
<a href="{% url 'nagoyameshi:review_list' pk=restaurant.pk %}">レビューを見る</a>
<a href="{% url 'nagoyameshi:reservation_form' pk=restaurant.pk %}">予約する</a>

{% endblock %}