{% extends "base.html" %}
{% load bootstrap %}
{% block title %}{{ restaurant.name }}へのレビュー{% endblock %}

{% block content %}
<h2>{{ restaurant.name }}へのレビュー一覧</h2>


<a href="{% url 'nagoyameshi:review_form' pk=restaurant.pk %}">レビューを投稿する</a>

<div>
{% for review in review_list %}
    <div class="border">
        <p>{{ review.user_id.username }}</p>
        <p>
            {% for i in review.number_of_stars_str.true_star  %}
            <i class="fa-solid fa-star text-warning"></i>
            {% endfor %}
            {% for i in review.number_of_stars_str.false_star  %}
            <i class="fa-solid fa-star text-muted"></i>
            {% endfor %}
        </p>
        <p>{{ review.visited_date }}</p>
        <p>{{ review.comment }}</p>
        <p>{{ review.created_at }}</p>
    </div>
{% endfor %}
</div>

{% endblock %}