{% extends "base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %}レビュー投稿フォーム{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'nagoyameshi/css/star_radio.css' %}">
{% endblock %}

{% block content %}
<h2>{{ restaurant.name }}へのレビュー</h2>
<form action="" method="POST">
    {% csrf_token %}

    <table>

        {# 満足度 #}
        <tr>
            <td>満足度</td>
            <td>
                {# 星5段階のラジオボタン(非表示) #}
                <input type="radio" id="star_radio_1" name="number_of_stars" value="1">
                <input type="radio" id="star_radio_2" name="number_of_stars" value="2">
                <input type="radio" id="star_radio_3" name="number_of_stars" value="3">
                <input type="radio" id="star_radio_4" name="number_of_stars" value="4">
                <input type="radio" id="star_radio_5" name="number_of_stars" value="5">

                {# 星5段階のラベル #}
                <div class="star_radio_label_area">
                    <div class="star_radio_label_flex">
                        <label for="star_radio_5" class="star_radio_label"><div class="true_star text-warning"><i class="fa-solid fa-star"></i></div><div class="false_star text-muted"><i class="fa-solid fa-star"></i></div></label>
                        <label for="star_radio_4" class="star_radio_label"><div class="true_star text-warning"><i class="fa-solid fa-star"></i></div><div class="false_star text-muted"><i class="fa-solid fa-star"></i></div></label>
                        <label for="star_radio_3" class="star_radio_label"><div class="true_star text-warning"><i class="fa-solid fa-star"></i></div><div class="false_star text-muted"><i class="fa-solid fa-star"></i></div></label>
                        <label for="star_radio_2" class="star_radio_label"><div class="true_star text-warning"><i class="fa-solid fa-star"></i></div><div class="false_star text-muted"><i class="fa-solid fa-star"></i></div></label>
                        <label for="star_radio_1" class="star_radio_label"><div class="true_star text-warning"><i class="fa-solid fa-star"></i></div><div class="false_star text-muted"><i class="fa-solid fa-star"></i></div></label>
                    </div>
                </div>
            </td>
        </tr>

        {# コメント #}
        <tr>
            <td>コメント</td>
            <td><textarea name="comment"></textarea></td>
        </tr>

        {# 来店日 #}
        <tr>
            <td>来店日</td>
            <td><input type="date" name="visited_date"></td>
        </tr>

    </table>

    <input type="submit" value="投稿">
</form>

{% endblock %}