/* =========================================
base.htmlに適用するデザイン
========================================= */

/* ----- カスタムプロパティ ----- */
:root{
    --main-color: #FCF5ED;
    --sub-color-1: #F4BF96;
    --sub-color-2: #CE5A67;
    --accent-color: #1F1717;
    background-color: var(--main-color)
}
:root .btn-primary{
    background-color: var(--accent-color);
}
:root .btn-primary:hover{
    background-color: var(--sub-color-2);
}
:root .btn-secondary{
    background-color: var(--sub-color-2);
}
:root .btn-secondary:hover{
    background-color: var(--sub-color-1);
}


/* ----- header ----- */
header{
    background-color: var(--sub-color-2);
    height: 70px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand > img{
    width:40px;
    align-items: center;
}
.navbar-brand > span{
    color: var(--main-color);
    font-size: 2rem;
    font-family: "Train One", system-ui;
    font-weight: 500;
    font-style: normal;
}
#search_form{
    height:100%;
    padding: 15px 20px 15px 0;
    display:flex;
    flex-direction: row;
}
#search_form *{
    margin: 0;
    border: none;
}
#search_form > select{
    width: 100px;
    background-color: var(--main-color);
    border-radius: 10% 0 0 10%;
    border-right: 2px solid gray;
}
#search_form > input[type="text"]{
    width: 300px;
    background-color: var(--main-color);
}
#search_form > button{
    background-color: var(--accent-color);
    color: var(--main-color);
    border-radius: 0 10% 10% 0;
}
#search_form > button:hover{
    background-color: var(--sub-color-1);
}
.header_navigation{
    height:100%;
    padding: 7px 20px 7px 0;
    display:flex;
    flex-direction: row;
}
.header_navigation button{
    display: inline;
    height:100%;
    width: 110px;
    margin-left: 10px;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 1rem;
    color: var(--main-color);
    text-align: center;
}
.header_navigation > a{
    display: inline;
    height:100%;
    width: 110px;
    margin-left: 10px;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1rem;
    color: var(--main-color);
    text-align: center;
}
.header_navigation a:hover{
    color: var(--sub-color-1);
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}
.header_navigation button:hover{
    color: var(--sub-color-1);
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}
.header_username:hover{
    font-size: 1rem;
    color: var(--main-color);
    font-weight:lighter;
}

/* ----- main----- */
main{
    background-color: var(--main-color);
}
.page_title{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--sub-color-2);
    text-align: center;
    font-weight: bold;
}

/* ----- message_area ----- */
.notify_message_area{
    position:fixed;
    width: 100%;
    top:0;
    left:0;
}
.notify_message{
    color:white;
    padding:1rem;
    margin:1rem;
    border-radius:0.5rem;
    display:flex;
    background:deepskyblue;
}
.notify_message_info{
    background:deepskyblue;
}
.notify_message_success{
    background:forestgreen;
}
.notify_message_error{
    background:crimson;
}
.notify_message_content {
    width:calc(100% - 2rem);
    font-size:1.25rem;
}
.notify_message_delete {
    cursor:pointer;
    width:2rem;
    transition:0.2s;
}
.notify_message_delete i{
    font-size:1.5rem;
}
.notify_message_delete:hover{
    color:black;
    transition:0.2s;
}

/* =========================================
index.htmlに適用するデザイン
========================================= */
.carousel-item{
    height: 100vh;
}
.carousel-item > img{
position: absolute;
top: 0;
left: 0;
min-width: 100%;
height: 100vh;
}